parameters:
    level: 6

    paths:
        - src

    excludePaths:
        - '*/node_modules/*'

    ignoreErrors:
        - '#no value type specified in iterable type array\.$#'
        - '#\$configurator of method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:registerAttributeForAutoconfiguration\(\) expects callable#'
